
@import url('https://fonts.googleapis.com/css?family=VT323');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  font-family: 'VT323', monospace;
  font-size: 3vw;
  color: #F8E219;
  text-shadow: 1px -1px 1vw #F27545, 1px -1px 1vh #F27545;
  background-color: #1A1A1A;
  padding-top: 2vmax;
  padding-left: 2vmax;
  padding-right: 2vmax;
}

.sign {
  display: flex;
  width: 90%;
  margin:0 auto;
}

.time {
  display: block;
  text-align: center;
}

.col {
  flex: auto;
  text-align: left;
}

.title {
  font-family: 'Open Sans', sans-serif;
  color: #EFEFEF;
  text-shadow: none;
  font-size: 2vmax;
  font-weight: bold;
}

.space {
  padding: 0.5vw;
}

.large-text {
  font-size: 5vw;
}

#service .row {
  text-align: left;
}

#duein {
  text-align: right;
}